#mattis{
    padding: 50px 0px 50px 0px;
    .box{
        margin-top: 50px;
        .p1{
            color: #E6E6E6;
            font-size: 48px;
            font-weight: 600;
            padding: 0;
            margin: 0;
            line-height: 1;
        }
        .p2{
            font-size: 15px;
            line-height: 1.8em;
            padding: 0;
            margin: 0;
            font-family: sans-serif;
        }
    }
    .box1{
        margin-top: 50px;
        .p2{
            font-size: 15px;
            line-height: 1.8em;
            padding: 0;
            margin: 0;
            font-family: sans-serif;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {  
    #mattis{
        padding: 0px;
        .box{
            margin-top: 20px;
        }
        .box1{
            margin-top: 20px;
        }
    }  
}

// Medium devices (tablets, 768px and up)
@media(min-width: 576px) and (max-width: 768px) {
    #mattis{
        padding: 0px;
        .box{
            margin-top: 20px;
        }
        .box1{
            margin-top: 20px;
        }
    }  
}

// Large devices (desktops, 992px and up)
@media(min-width: 768px) and (max-width: 992px) {
    #mattis{
        padding: 0px;
        .box{
            margin-top: 20px;
        }
        .box1{
            margin-top: 20px;
        }
    }  
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}