#countdown{
    .timer-container{
        color: black;
        .timer{
            display: flex;
            flex: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 20px;
            padding-top: 20px;
            &:first-child{
                text-align: center;
                p{
                    font-size: 18px;
                    font-family: "Crimson Text", serif;
                    font-weight: 500;
                    span{
                        color: #EF4665;
                        font-weight: 600;
                        border-bottom: 1px solid #EF4665;
                        cursor: pointer;
                        transition: 0.3s ease-in-out;
                    }
                }
            }
            .dene{
                border: 1px solid black;
                border-radius: 3px;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                margin-left: 20px;
                padding: 10px 10px 5px 10px;
                text-align: center;
                p{
                    font-size: 20px;
                }
                span{
                    font-size: 20px;
                }
            }
        }
    }
}




// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {    
    #countdown{
        margin-top: 20px;
        .timer-container{
            .timer{
                display: contents;
                &:first-child{
                    width: 100%;
                }
                .dene{
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media(min-width: 576px) and (max-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media(min-width: 768px) and (max-width: 992px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}