#duis{
    .image{
        margin-left: 30px;
        cursor: pointer;
        img{
            width: 100%;
            transition: 0.3s ease-in-out;
            &:hover{
                opacity: 0.9;
            }
        }
    }
    .text{
        margin-left: 30px;
        .btn1{
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #b1b0b0;
            margin-top: 20px;
            font-size: 9px;
            cursor: pointer;
        }
        h2{
            font-size: 2.625rem;
            font-family: "Crimson Text", serif;
        }
        p{
            color: #37383b;
            font-family: "DM Sans", sans-serif;
            font-size: 15px;
            padding-bottom: 10px;
        }
        .text1{
            background-color: #F8F8F8;
            padding: 50px;
            margin: 20px 0px;
            border-left: 5px solid #EF4626;
            h5{
                font-size: 1.5rem;
                line-height: 1.6;
            }
        }
        ul{
            li{
                span{
                    color: black;
                }
            }
        }
        h4{
            font-size: 2rem;
            margin-top: -10px;
            font-family: "Crimson Text", serif;
        }
        ol{
            li{
                span{
                    color: black;
                }
            }
        }
        h6{
            font-family: "DM Sans", sans-serif;
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 0.3125rem;
        }
    }
    .text2{
        img{    
            width: 60px;
            cursor: pointer;
            height: 60px;
        }
        .text3{
            margin-left: 20px;
            h5{
                font-size: 17px;
                margin-right: 10px;
            }
            span{
                color: #7E8492;
                font-size: .75rem;
            }
            p{
                margin-top: 10px;
                font-size: 15pxx;
                color: black;
                transition: 0.3s ease-in-out;
            }
        }
    }
    .boxes4{
        border: 1px solid #EDEEF5;
        padding: 50px;
        margin-top: 40px;
        margin-bottom: 40px;
        h6{
            margin-top: 10px;
        }
        h4{
            font-size: 20px;
            font-weight: 400;
        }
        p{
            font-size: 14px;
            color: rgb(160, 160, 160);
        }
        textarea{
            margin-top: 10px;
            border-radius: 6px;
            outline: none;
            border: none;
            padding: 20px;
            background-color: #F8F8F8;
            width: 100%;
            height: 45vh;
        }
        form{
            input{
              margin-top: 10px;
              border-radius: 6px;
              outline: none;
              border: none;
              background-color: #F8F8F8;
              width: 100%;
              height: 7vh;
              padding: 20px;
            }
        }
        .text4{
            form{
                input{
                  margin-top: 10px;
                  border-radius: 6px;
                  outline: none;
                  border: none;
                  background-color: #F8F8F8;
                  width: 100%;
                  height: 7vh;
                  padding: 20px;
                }
            }
        }
        .text5{
            form{
                input{
                  margin-top: 10px;
                  border-radius: 6px;
                  outline: none;
                  border: none;
                  background-color: #F8F8F8;
                  width: 100%;
                  height: 7vh;
                  padding: 20px;
                }
            }
        }
        .boxes5{
            margin-top: 20px;
            label{
                margin-left: 10px;
            }
        }
        .boxes6{
            input{
                padding-left: 3.25rem;
                padding-right: 3.25rem;
                font-size: .8125rem;
                height: 3rem;
                background-color: black;
                outline: none;
                border: none;
                color: white;
                margin-top: 20px;
            }
        }
    }
    .box{
        margin-left: 10px;
        button {
            display: inline-block;
            background-color: #F3F4F7;
            border-radius: 5px;
            border: none;
            transition: 0.3s ease-in-out;
            input {
                border-radius: 20px;
                padding: 5px 15px;
                border: none;
                outline: none;
                display: inline-block;
                background: transparent;
                color: rgb(141, 138, 138);
                &::placeholder {
                    color: rgb(141, 138, 138);
                }
            }
            i{
                color: black;
                font-size: 13px;
                margin-right: 10px;
            }
        }
    }
    .boxes1{
        margin-top: 40px;
        margin-left: 10px;
        h4{
            font-family: "DM Sans",sans-serif;
            font-size: .75rem;
            font-weight: 600;
            text-transform: uppercase;
            padding-bottom: 1.25rem;
            margin-bottom: 1.25rem;
            border-bottom: 1px solid #dee2e6;
        }
        .box1{
            background-color: #233a95;
            padding: 10px;
            transition: 0.3s ease-in-out;
            border-radius: 5px;
     
            i{
                color: white;
                margin-left: 10px;
                font-weight: normal;
                font-size: 13px;
                margin-top: 2px;
            }
            span{
                font-family: var(--font-secondary);
                font-size: .75rem;
                font-weight: 600;
                color: white;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-left: 0.9375rem;
            }
            &:hover{
                opacity: 0.7;
                cursor: pointer;
            }
        }
        .box2{
            background-color: #4AB4F5;
            padding: 10px;
            margin-top: 5px;
            transition: 0.3s ease-in-out;
            border-radius: 5px;
            i{
                color: white;
                margin-left: 10px;
                font-weight: normal;
                font-size: 13px;
                margin-top: 2px;
            }
            span{
                font-family: var(--font-secondary);
                font-size: .75rem;
                font-weight: 600;
                color: white;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-left: 0.9375rem;
            }
            &:hover{
                opacity: 0.7;
                cursor: pointer;
            }
        }
        .box3{
            background-color: red;
            padding: 10px;
            margin-top: 5px;
            transition: 0.3s ease-in-out;
            border-radius: 5px;
            i{
                color: white;
                margin-left: 10px;
                font-weight: normal;
                font-size: 13px;
                margin-top: 2px;
            }
            span{
                font-family: var(--font-secondary);
                font-size: .75rem;
                font-weight: 600;
                color: white;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-left: 0.9375rem;
            }
            &:hover{
                opacity: 0.7;
                cursor: pointer;
            }
        }
        .box4{
            background-color: #3392C4;
            padding: 10px;
            margin-top: 5px;
            transition: 0.3s ease-in-out;
            border-radius: 5px;
            i{
                color: white;
                margin-left: 10px;
                font-weight: normal;
                font-size: 13px;
                margin-top: 2px;
            }
            span{
                font-family: var(--font-secondary);
                font-size: .75rem;
                font-weight: 600;
                color: white;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-left: 0.9375rem;
            }
            &:hover{
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }
    .boxes2{
        margin-top: 40px;
        margin-left: 10px;
    }
    .boxes3{
        margin-top: 40px;
        margin-left: 10px;
        h4{
            font-family: "DM Sans",sans-serif;
            font-size: .75rem;
            font-weight: 600;
            text-transform: uppercase;
            padding-bottom: 1.25rem;
            margin-bottom: 1.25rem;
            border-bottom: 1px solid #dee2e6;
        }
        .box1{
            margin-top: 5px;
            p{
                color: #000;
                background-color: transparent;
                border: 1px solid #dcdde2;
                height: 2rem;
                text-decoration: none;
                padding-left: 1rem;
                padding-right: 1rem;
                padding-top: 8px;
                padding-bottom: 13px;
                cursor: pointer;
                font-size: .875rem !important;
                display: inline-flex;
                transition: 0.3s ease-in-out;
  
                display: inline-flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: center;
                justify-content: center;
                margin-bottom: 5px;
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
    .boxes6{
        margin-top: 40px;
        margin-left: 10px;
        h4{
            font-family: "DM Sans",sans-serif;
            font-size: .75rem;
            font-weight: 600;
            text-transform: uppercase;
            padding-bottom: 1.25rem;
            margin-bottom: 1.25rem;
            border-bottom: 1px solid #dee2e6;
        }
       .imagee{
            margin-left: -5px;
            img{
                width: 60px;
                height: 60px;
            }
        }
        .textt{
            h3{
                font-size: 14px;
                font-family: "Crimson Text", serif;
                cursor: pointer;
                transition: 0.3s ease-in-out;
                &:hover{
                    color: #EF4681;
                }
            }
        }
    }
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {  
    #duis{
        .image{
            margin-left: 0px;
            margin-top: 15px;
        }
        .text{
            margin-left: 0px;
            h2{
                font-size: 27px;
            }
        }
        .boxes6{
            .textt{
                margin-left: 10px;
            }
        }
        .box{
            display: none;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media(min-width: 576px) and (max-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media(min-width: 768px) and (max-width: 992px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}