#category{
    .text{
        text-align: center;
        span{
            font-size: 11px;
            font-family: "DM Sans", sans-serif;
            color: #000;
        }
        h3{
            font-size: 3rem;
            margin-bottom: 3.75rem;
            line-height: 1;
            font-weight: 400;
            letter-spacing: 0;
            font-family:  "Crimson Text", serif;
            color: #EF4626;
        }
    }
    .image{
        img{
            // height: 229px;
            width: 100%;
            // margin-left: 3px;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}
#subscribe{
    padding: 30px;
    background-color: #FFFBF8;
    .text1{
        text-align: center;
        padding-bottom: 30px;
        h6{
            font-weight: 600px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #EF5961;
            font-size: 10px;
        }
        h2{
            font-size: 28px;
            font-family: "Crimson Text", serif;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
        }
        .email{
            width: 50%;
            margin: auto;
            input{
                height: 3.25rem;
                color: #000;
                background-color: transparent;
                border-color: #000;
                width: 100%;
                font-family: "DM Sans",sans-serif;
                font-size: 13px;
                font-weight: 400;
                padding-left: 10px;
            }
            button{
                height: 3.25rem;
                margin-left: 0.125rem;
                padding-left: 1.875rem;
                padding-right: 1.875rem;
                border-width: 1px;
                border-color: #000;
                color: rgb(131, 131, 131);
                background-color: transparent;
                font-weight: 600;
                font-size: 14px;
                transition: 0.3s ease-in-out;
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {  
    #category{
        .image{
         img{
            margin-top: 10px;
         }
        }
    }
    #subscribe{
        .text1{
            .email{
                width: 100%;
            }
        }
    }
      
}

// Medium devices (tablets, 768px and up)
@media(min-width: 576px) and (max-width: 768px) {
    #category{
        .image{
         img{
            margin-top: 10px;
         }
        }
    }
    #subscribe{
        .text1{
            .email{
                width: 100%;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media(min-width: 768px) and (max-width: 992px) {
    #category{
        .image{
         img{
            margin-top: 10px;
         }
        }
    }
    #subscribe{
        .text1{
            .email{
                width: 100%;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}