#proin{
    .deneme{
        position: absolute;
        background-color: white;
        top: 85%;
        left: 10%;
        width: 80%;
        .box{
            padding: 50px 50px 0px 50px;
            .title{
                font-weight: 700;
                line-height: 1.8em;
                font-size: 15px;
            }
            .p{
                line-height: 1.8em;
                font-size: 15px;
                font-family: "DM Sans", sans-serif;
                font-weight: 500;
                width: 75%;
            }
            h4{
                font-size: 30px;
                font-family: "DM Sans", sans-serif;
                font-weight: 400;
            }
        }
    }
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {    
    #proin{
        .deneme{
            position: relative;
            top: 0%;
            left: 0%;
            width: 100%;
            .box{
                padding: 10px 0px 0px 10px;
                .p{
                    width: 100%;
                }
                h4{
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
    }
    
}

// Medium devices (tablets, 768px and up)
@media(min-width: 576px) and (max-width: 768px) {
    #proin{
        .deneme{
            position: relative;
            top: 0%;
            left: 0%;
            width: 100%;
            .box{
                padding: 10px 0px 0px 10px;
                .p{
                    width: 100%;
                }
                h4{
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media(min-width: 768px) and (max-width: 992px) {
    #proin{
        .deneme{
            position: relative;
            top: 0%;
            left: 0%;
            width: 100%;
            .box{
                padding: 10px 0px 0px 10px;
                .p{
                    width: 100%;
                }
                h4{
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}