#ut{
    padding: 50px 50px 0px 50px;
    .box{
        margin-top: 40px;
        margin-left: 30px;
        h2{
            font-size: 60px;
            font-family: "Crimson Text", serif;
        }
        p{
            line-height: 1.8em;
            font-size: 15px;
            font-family: "DM Sans", sans-serif;
            font-weight: 500;
            width: 85%;
        }
    }
    .image{
        margin-top: 60px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {    
    #ut{
        padding: 0px;
        .box{
            margin-top: 0px;
            margin-left: 0px;
            h2{
                font-size: 40px;
            }
            p{
                width: 100%;
            }
        }
        .image{
            margin-top: 16px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media(min-width: 576px) and (max-width: 768px) {
    #ut{
        padding: 0px;
        .box{
            margin-top: 0px;
            margin-left: 0px;
            h2{
                font-size: 40px;
            }
            p{
                width: 100%;
            }
        }
        .image{
            margin-top: 16px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media(min-width: 768px) and (max-width: 992px) {
    #ut{
        padding: 0px;
        .box{
            margin-top: 0px;
            margin-left: 0px;
            h2{
                font-size: 40px;
            }
            p{
                width: 100%;
            }
        }
        .image{
            margin-top: 16px;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}