#cream{
    padding: 30px;
    .box{
        cursor: pointer;
        position: relative;
        .image{
            overflow: hidden;
            img{
                width: 100%;
                transition: 0.3s ease-in-out;
            }
        }
        &:hover{
            .image{
                img{
                    transform: scale(1.2);
                }
            }
        }
        .text{
            position: absolute;
            top: 13%;
            left: 10%;
            h3{
                font-size: 2.125rem;
                margin-bottom: 0.9375rem;
                font-family: "Crimson Text", serif;
                font-weight: 400;
                width: 60%;
            }
            p{
                max-width: 12rem;
                font-size: .8125rem;
                line-height: 1.6;
                font-size: 16px;
                padding-bottom: 70px;
                margin-top: 40px;
                font-weight: 500;
                color: black;
            }
            span{
                font-family: "DM Sans", sans-serif;
                font-size: 14px;
                font-weight: 600;
            }
            i{
                margin-left: 10px;
                margin-top: 2px;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {    
    #cream{
        padding: 0px;
        // padding-top: 10px;
        .box{
            margin-top: 15px;
            .text{
                top: 5%;
                left: 5%;
                h3{
                    font-size: 2.125rem;
                    margin-bottom: 0px;
                    width: 100%;
                }
                p{
                    line-height: 1.6;
                    padding-bottom: 0px;
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media(min-width: 576px) and (max-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media(min-width: 768px) and (max-width: 992px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}