#from{
    background-color: #111A1F;
    position: relative;
    .image{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .text{
        position: absolute;
        top: 10%;
        left: 10%;
        h6{
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: white;
            font-size: 10px;
        }
        h3{
            font-size: 50px;
            color: white;
            margin-bottom: 40px;
            margin-top: 40px;
            width: 40%;
            font-family: "DM Sans", sans-serif;
        }
    }
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    #from{
        .text{
            left: 0%;
            h6{
                text-align: center;
            }
            h3{
                font-size: 30px;
                margin-left: 40px;
                margin-bottom: 0px;
                margin-top: 40px;
                text-align: center;
                width: 80%;
            }
        }
    }   
}


// Medium devices (tablets, 768px and up)
@media(min-width: 576px) and (max-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media(min-width: 768px) and (max-width: 992px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}