#wishlistTotal{
    padding-bottom: 30px;
    .box{
        table{
            width: 100%;
            margin-bottom: 1rem;
            max-width: 100%;
            background-color: transparent;
            tr{
                th{
                    font-size: .6875rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    border: 0;
                    vertical-align: bottom;
                    padding: 0.75rem;
                }
                td{
                    padding: 0.75rem;
                    font-size: .875rem;
                    border-color: #dee2e6;
                    vertical-align: middle;
                    padding-top: 1.25rem;
                    padding-bottom: 1.25rem;
                    border-left: 0;
                    border-right: 0;
                    border-bottom: 1px solid #dee2e6;
                    border-top: 1px solid #dee2e6;
                    text-align: left;
                    img{
                        max-width: 3.75rem;
                        height: auto;
                        vertical-align: middle;
                    }
    
                }
            }
        }
        
    }
    .deneme{
        margin-top: 70px;
        .shop{
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            padding-top: 13px;
            padding-bottom: 15px;
            border: 1px solid rgb(190, 190, 190);
            color: grey;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:hover{
                color: white;
                background-color: #EF4626;
            }
        }
    }
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {    
    #wishlistTotal{
        padding-bottom: 0px;
        .box{
            table{
                thead{
                    tr{
                        .price{
                            display: none;
                        }
                        
                    }
                }
                tbody{
                    tr{
                        .price{
                            display: none;
                        }
                        
                    }
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media(min-width: 576px) and (max-width: 768px) {
    #wishlistTotal{
        padding-bottom: 0px;
        
    }
}

// Large devices (desktops, 992px and up)
@media(min-width: 768px) and (max-width: 992px) {
    #wishlistTotal{
        padding-bottom: 0px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}